<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css_file/bootstrap.min.css' %}" /> 
    <link rel="stylesheet" href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css_file/dataTables.bootstrap5.min.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css_file/material-icons.css' %}">    Link with material-icons.css to folder(google-material-fonts) using dot-->
    <link rel="stylesheet" href="{% static 'css_file/style.css' %}" />
    <title>Smart Device</title>
    </head>
    <body>
    <!-- top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top shadow" style="background: linear-gradient(45deg, #0A58CA, #9EC5FE);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a class="navbar-brand me-auto ms-lg-0 ms-3 ms-lg-5 text-uppercase fw-bold" href="#" >Smart</a>
            
            <!-- Nav for large screen  -->
            <div class="d-none d-md-inline-flex align-bottom" id="">
                <ul class="navbar-nav">
                    <div class="d-flex">
                        <li class="nav-item me-2">
                            <a class="btn btn-success"  href="{% url 'login_conn' %}" role="button"><strong>Login</strong></a></li>
                        <li class="nav-item">
                            <a class="btn btn-primary" href="{% url 'data_view_conn' %}" role="button"><strong>View Data</strong></a>
                        </li>
                    </div>
                </ul>
            </div>

            <!-- Nav for small screen  -->
            <div class="d-block d-md-none" id="">
                <ul class="navbar-nav">
                    <div class="d-flex">
                        <li class="nav-item me-2">
                            <a class="btn btn-success"  href="{% url 'login_conn' %}" role="button"><strong>Notification</strong></a></li>
                        <li class="nav-item">
                            <a class="btn btn-primary" href="{% url 'data_view_conn' %}" role="button"><strong>User</strong></a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end top navigation bar -->

    <!-- offcanvas -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar" style="background: linear-gradient(45deg, #0A58CA, #0A58CA);"> 
        <div class="offcanvas-body p-0">
        <nav class="navbar-dark text-white">
            
            <ul class="navbar-nav">
            <li>
                <div class="text-center m-4"> <h5>Smart Oven</h5> </div>
                <hr class="dropdown-divider bg-light" />
                <div class="px-3"><small>User : Prabhat Kumar</small></div>
                <div class="px-3"><small>Device-Id : GZB012345</small></div>
                <div class="px-3"><small>Address : Ghaziabad, Delhi</small></div>
                <div class="px-3"><small>Status : Normal</small></div>
            </li>
            <li><hr class="dropdown-divider bg-light" /></li>
            <li>
                <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-speedometer2"></i>
                <span>Dashboard</span>
                </a>
            </li> 
            <li>
                <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#profile">
                    <span class="me-2"><i class="bi bi-person-fill"></i></span>
                    <span>User</span>
                    <span class="ms-auto"> <span class="right-icon"><i class="bi bi-chevron-down"></i></span></span>
                </a>
                <div class="collapse" id="profile">
                    <ul class="navbar-nav ps-3">
                        <li>
                            <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-person-vcard"></i></span>
                                <span>User Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-person-add"></i></span>
                                <span>Add User</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-border-style"></i></span>
                                <span>Change Pass</span>
                            </a>
                        </li> 
                    </ul>
                </div>
            </li>
            <li>
                <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#device">
                <span class="me-2"><i class="bi bi-phone-vibrate-fill"></i></span>
                <span>Device</span>
                <span class="ms-auto"> <span class="right-icon"><i class="bi bi-chevron-down"></i></span> 
                </a>
                <div class="collapse" id="device">
                    <ul class="navbar-nav ps-3">
                        <li>
                            <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-clipboard-data"></i></span>
                                <span>View Data</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-cpu"></i></span>
                                <span>Device Info</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-credit-card"></i>
                <span>Account</span>
                </a>
            </li> 
            <li>
                <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#support-tab">
                    <span class="me-2"><i class="bi bi-envelope-fill"></i></span>
                    <span>Support</span>
                    <span class="ms-auto"> <span class="right-icon"><i class="bi bi-chevron-down"></i></span></span>
                </a>
                <div class="collapse" id="support-tab">
                    <ul class="navbar-nav ps-3">
                        <li>
                            <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-chat-right-dots"></i></span>
                                <span>Message</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-info-circle"></i></span>
                                <span>Get-in-touch</span>
                            </a>
                        </li> 
                    </ul>
                </div>
            </li>
            <li>
                <a href="#" class="nav-link px-3"><span class="me-2"><i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
                </a>
            </li>
            <li><hr class="dropdown-divider bg-light mt-5" /></li>
            <div class="text-center text-white-50 mt-4">
                <h6 >I developed</h6>
                <h6 >Inteligent Device</h6>
                <h6 >for You</h6>
            </div>
            <!-- <br>
            <h6 class="text-center text-muted bg-white py-2 mb-0"><strong>JEEVAN</strong></h6>
            <br> -->
        </nav>
        </div>
    </div>
    <!-- offcanvas -->

    <main>
        <div>
            {% block base_user_operator_content %}
            {% endblock %}
        </div>
    </main> 

    <div class="footer">
        <div id="Contact">{% include 'footer.html' %}</div>
    </div>
    
    <script src="{% static 'js_file/bootstrap.bundle.min.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script> -->
    <script src="{% static 'js_file/jquery-3.5.1.js' %}"></script>
    <script src="{% static 'js_file/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js_file/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js_file/script.js' %}"></script>

    <!-- <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="./js/script.js"></script> -->
    </body>
</html>
                